:root {
  font-family: 'Roboto', sans-serif;
  --background-color: #3b3f45;
  --background: #4a4f56;
  --color1: #88839e;
  --color2: #7a7593;
  --color3: #625e77;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 793px;
  height: 547px;
  margin: 0 auto;

}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  width: 793px;
  height: 82px;
  padding-block: 19px 10px;

  h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #ff8984;
    margin: 0;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #ff8984;
    margin-top: 4px;

  }

}

main {
  padding: 20px 130px 45px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-block: 2px solid transparent;
      padding: 10px 12px 12px;
      background-color: var(--color1);
      transition: 500ms;
      color: #fff;

      label {
        .note {
          font-size: 11px;

        }
      }

      &:nth-child(even) {
        background-color: var(--color2);
      }

      &:hover {
        border-color: #fff;
        background-color: var(--color3);
      }

      input {
        margin-left: 4px;
      }

      :checked~label {
        text-decoration: line-through;
        color: #9b96ac;

        .note {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  button {
    margin-top: 45px;
    width: 534px;
    height: 45px;
    background-color: var(--background);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #ff8984;

  }
}
.food-emoji {
  position: absolute;
  font-size: 24px;
  animation: fly 1s ease-out forwards;
  pointer-events: none;
  z-index: 10;
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-150px) scale(1.5);
  }
}